extends layout

block content
  p Welcome to Doni
  form(action = "" method = "post")
    p ISBN
    input(type = "text", name = "isbn", title = "isbn" value = isbn disabled)
    p Title
    input(type = "text", name = "title", title = "title" value = title disabled)
    p Subtitle
    input(type = "text", name = "subtitle", title = "subtitle" value = subtitle disabled)
    p Author
    input(type = "text", name = "author", title = "author" value = author disabled)
    p Published
    input(type = "text", name = "published", title = "published" value = published disabled)
    p Publisher
    input(type = "text", name = "publisher", title = "publisher" value = publisher disabled)
    p Pages
    input(type = "text", name = "pages", title = "pages" value = pages disabled)
    p Description
    input(type = "text", name = "description", title = "description" value = description disabled)
    p Website
    input(type = "text", name = "website", title = "website" value = website disabled)
    br
    br
    button(type = "submit") Delete

    

