extends layout

block content
  p Welcome to Doni
  form(action = "" method = "post")
    p ISBN
    input(type = "text", name = "isbn", title = "isbn" value = isbn )
    p Title
    input(type = "text", name = "title", title = "title" value = title )
    p Subtitle
    input(type = "text", name = "subtitle", title = "subtitle" value = subtitle )
    p Author
    input(type = "text", name = "author", title = "author" value = author )
    p Published
    input(type = "text", name = "published", title = "published" value = published )
    p Publisher
    input(type = "text", name = "publisher", title = "publisher" value = publisher )
    p Pages
    input(type = "text", name = "pages", title = "pages" value = pages )
    p Description
    input(type = "text", name = "description", title = "description" value = description )
    p Website
    input(type = "text", name = "website", title = "website" value = website )
    br
    br
    button(type = "submit") Delete

    



    

